{% extends 'psw/layout.html' %}

{% block title %}Lista serwerów{% endblock %}

{% block content %} 

<form action="/psw/servers/" method="post" class="col-md-3 col-md-offset-3">
	{% csrf_token %}
	{{ form.non_field_errors }}
<div class="form-group">
    {{ form.ip.errors }}
    <label for="{{ form.ip.id_for_label }}">Adres IP:</label>
    {{ form.ip }}
</div>
<div class="form-group">
    {{ form.system.errors }}
    <label for="{{ form.system.id_for_label }}">System operacyjny:</label>
    {{ form.system }}
</div>
<div class="form-group">
    {{ form.ram.errors }}
    <label for="{{ form.ram.id_for_label }}">Pamięć RAM (w MB):</label>
    {{ form.ram }}
</div>
<div class="form-group">
    {{ form.quote.errors }}
    <label for="{{ form.quote.id_for_label }}">Powierzchnia dyskowa (w GB):</label>
    {{ form.quote }}
</div>
<input type="submit" value="Zatwierdź" class="btn btn-primary"/>
</form>
{{ boldmessage }}
{% endblock %}
